In [3]:
import pandas as pd
df = pd.read_csv("c:/Users/Quang/Customer-Segmentation/data/raw/Mall_Customers.csv")

In [5]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [9]:
len(df)

200

In [21]:
missing_report = df.isnull().sum().to_frame(name = 'Missing')
missing_report['%Missing'] = (missing_report['Missing']/len(df))*100
print(missing_report)

                        Missing  %Missing
CustomerID                    0       0.0
Gender                        0       0.0
Age                           0       0.0
Annual Income (k$)            0       0.0
Spending Score (1-100)        0       0.0

In [53]:
Q1_AI = df['Annual Income (k$)'].quantile(0.25)
Q3_AI = df['Annual Income (k$)'].quantile(0.75)
IQR_AI = Q3_AI - Q1_AI

Q1_SS = df['Spending Score (1-100)'].quantile(0.25)
Q3_SS = df['Spending Score (1-100)'].quantile(0.75)
IQR_SS = Q3_SS - Q1_SS

lower_bound_AI = Q1_AI - 1.5 * IQR_AI 
upper_bound_AI = Q3_AI + 1.5 * IQR_AI

lower_bound_SS = Q1_SS - 1.5 * IQR_SS
upper_bound_SS = Q3_SS + 1.5 * IQR_SS

outliers_AI = (df['Annual Income (k$)'] < lower_bound_AI) | (df['Annual Income (k$)'] > upper_bound_AI)
outliers_SS = (df['Spending Score (1-100)'] < lower_bound_SS) | (df['Spending Score (1-100)'] > upper_bound_SS)

df_outliers_AI = df[outliers_AI]
df_outliers_SS = df[outliers_SS]

print("Outliers trong Annual Income:")
print(df_outliers_AI)

print("\nOutliers trong Spending Score:")
print(df_outliers_SS)

Outliers trong Annual Income:
     CustomerID Gender  Age  Annual Income (k$)  Spending Score (1-100)
198         199   Male   32                 137                      18
199         200   Male   30                 137                      83

Outliers trong Spending Score:
Empty DataFrame
Columns: [CustomerID, Gender, Age, Annual Income (k$), Spending Score (1-100)]
Index: []